*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    font-family: 'Inter', sans-serif;
}
.body{
    padding: 0 120px;
}
.hero-section{
    background-image: url(assets/images/background-one.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 950px;
    color: #ffffff;
}
.hero-section a{
    color:#ffffff;
    text-decoration: none;
}
li{
    list-style: none;
    display: inline-block;
    margin-left: 39.53px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22.58px 0;
}
h1{
    font-size: 44px;
    font-weight: 900;
    line-height: 62.96px
}
.hero-flex{
    display: flex;
    align-items: center;
    margin-top: 59.44px;
}
.hero-flex p{
    font-size: 24px;
    margin: 27.31px 0 53.7px;
    color: #ffffff;
}
.hero-flex button{
    color: #ffffff;
    background: rgba(113, 213, 255, 0.24);
    border-radius: 90px;
    font-size: 16px;
    padding: 12px 31px;
    border: none;
    margin-bottom: 101.13px ;
}
a:hover, button:hover{
    cursor: pointer;
}
.service-section-title{
    text-align: center;
    margin-top: -40px;
    margin-bottom: 131.11px;
}
h3{
    color: #FF688C;
    font-size: 18px;
    font-weight: 900;
}
h2{
    font-size: 38px;
    font-weight: 900;
    line-height: 54.38px;
    width: 615.11px;
    margin: 16.13px auto 50.35px;
}
p{
    font-size: 18px;
    width: 393px;
    margin: 0 auto;
    line-height: 25.76px;
    color: #7F7E7E;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
}
h4{
    font-size: 24px;
    font-weight: 700;
}
.service-section .flex p{
    padding: 63.34px 0;
}
.portfolio-section{
    margin-top: 330px;
    text-align: center;
}
.portfolio-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 65.19px
}
.portfolio-section button{
    color: #FF688C;
    border: 2px solid rgba(196, 196, 196, 1);
    background-color: #ffffff;
    padding: 11px 54px;
    font-size: 16px;
    font-weight: 400px;
    border-radius: 90px;
    margin-top: 50px;
}
.rainbow-ribbon{
    width: 100vw;
}
.rainbow-ribbon img{
    width: 100%;
}
.team-section{
    text-align: center;
    margin-top: 217.2px
}
.team-section-grid{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 100%;
    margin-top: 109.59px;
}
.team-section-grid p{
    text-align: initial;
    padding: 0 27px;
}
.team-section-grid p{
    font-size: 16px;
    font-weight: 400;
}
p.name{
    font-size: 18px;
    font-weight: 700;
    color: rgba(0, 0, 0, 1)
}
.work-with-us-section{
    margin: 49.28px 0 183.48px;
    text-align: center;
}
.work-with-us-section p{
    width: 615.11px;
    margin: 20.88px auto 57.77px
}
.work-with-us-section h2{
    margin: 0 auto;
}
.work-with-us-section button{
    color: #ffffff;
    background: linear-gradient(101.53deg, #127CFF -9.34%, #2FC1FE 106.23%);
    border-radius: 90px;
    padding: 11px 31px;
    border: 0;
    font-size: 16px;
    font-weight: 400;
}
.footer-grid{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 39% 17% 17% 17%;
    gap: 39px;
}
.footer-grid p{
    margin: 11px auto;
}
.title{
    font-size: 16px;
    font-weight: 700;
    color: rgba(0, 0, 0, 1)
}
.footer-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}
footer a{
    color: rgba(121, 121, 121, 1);
    display: block;
    text-decoration: none;
    margin-bottom: 10px;
}
.last-footer{
    display: flex;
    justify-content: space-between;
    padding: 75.94px 0 111.97px
}
.last-footer p{
        font-size: 16px;
        width: auto;
        margin: 0 ;
}
.service-section>div>div:nth-child(2n){
    padding-bottom: 100px;
}

.iconify-icon{
    display: none;
}
.menu-slide{
    display: none;
}
.visuallyHidden{
    display: none;
}
@media screen and (max-width: 768px) {
    .visuallyHidden {
        position: absolute; 
        overflow: hidden; 
        clip: rect(0 0 0 0); 
        height: 1px; width: 1px; 
        margin: -1px; padding: 0; border: 0; 
    }
    .hamburger {
        margin: 0 auto;
        width: 30px;
        height: 30px;
        position: relative;
    }
    
    .hamburger .bar {
        padding: 0;
        width: 30px;
        height: 4px;
        background-color: #ffffff;
        display: block;
        border-radius: 4px;
        transition: all 0.4s ease-in-out;
        position: absolute; 
    }
    
    .bar1 {
        top: 0;
    }
    
    .bar2,
    .bar3 {
        top: 7.5px;
    }
    
    .bar3 {
        right: 0;
    }
    
    .bar4 {
        bottom: 0;
    }
    .hamburger2 .bar2,
    .hamburger3 .bar3,
    .hamburger4 .bar4 {
        top: 7.5px;
    }

    .hamburger4 .bar5 {
        top: 14.5px;
    }

    .hamburger4 .bar {
        transition: all 0.4s ease-in-out, transform 0.4s ease-in-out 0.4s;
    }

    .hamburger4 .bar2 {
        width: 1px;
        transform: rotate(90deg);
        left: 13.5px;
    }

    .hamburger4 .bar3 {
        width: 1px;
        left: 13.5px;
        
    }

    .checkbox4:checked + label > .hamburger4 > .bar1{
        top: 13.5px;
        background-color: transparent;
    }

    .checkbox4:checked + label > .hamburger4 > .bar2{
        left: 0px;
        width: 30px;
        transform: rotate(45deg);
    }

    .checkbox4:checked + label > .hamburger4 > .bar3{
        left: 0;
        width: 30px;
        transform: rotate(-45deg);
    }

    .checkbox4:checked + label > .hamburger4 > .bar4{
        background-color: transparent;
    }

    .checkbox4:checked + label > .hamburger4 > .bar5{
        bottom: 13.5px;
        background-color: transparent; 
    }
    .body {
        padding: 0 25px;
        position: relative;
        z-index: 0;
    }
    nav ul{
        display: none;
    }
    li {
        margin: 5% 0 20% 0;
    }
    .menu-slide{
        background-color: rgba(68, 82, 215, .9);
        position: absolute;
        z-index: 1;
        width: 100vw;
        height: 100vh;
        left: 0;
        padding: 20px;
        text-align: center;
    }
    .menu-slide li{
        display: block;
        font-size: 19px;
        font-weight: 900;
    }
    .iconify-icon{
        display: block;
        font-size: 30px;
    }
    .hero-flex {
        margin-top: 44.44px;
    }
    .hero-section{
        background-size: unset;
    }
    h2 {
        font-size: 28px;
        line-height: 27.38px;
        margin: 15.13px auto 15.35px;
    }
    .service-section-title {
        margin-bottom: 55.11px;
        margin-top: 0;
    }
    .flex{
        flex-direction: column;
        text-align: center;
    }
    .flex:nth-child(2n){
        flex-direction: column-reverse;
    }
    .service-section>div>div:first-child h4{
        margin-top: -71px;
    }
    .service-section>div>div:nth-child(2n) {
        padding-bottom: 0;
    }
    .service-section .flex p {
        padding: 13.34px 0 51.34px;
    }
    .portfolio-section {
        margin-top: 50px;
    }
    .portfolio-grid {
        margin-bottom: 30px;
    }
    .portfolio-section button {
        margin-top: 0;
    }
    .team-section {
        margin-top: 112.2px;
    }
    .team-section-grid {
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, 50%);
        margin-top: 67.59px;
        row-gap: 20px;
    }
    .team-section-grid p {
        padding: 0px 14px;
        font-size: 12px;
        line-height: 15px;
    }
    .profile-details{
        margin-top: -13px;
    }
    .profile-details .name{
        font-size: 14px
    }
    .rainbow-ribbon {
        margin-top: 41px;
    }
    .work-with-us-section p {
        margin: 20.88px auto 30.77px;
    }
    .work-with-us-section {
        margin: 49.28px 0 110.48px;
    }
    .footer-grid {
        grid-template-rows: 62px 155px 200px 37px;
        grid-template-columns: 90vw;
        gap: 0;
    }
    .footer-grid p {
        margin: 0 0 6px 0;
    }
    .title {
        font-size: 15px;
    }
    footer a {
        margin-bottom: 19px;
    }
    .last-footer {
        flex-direction: column;
        padding: 50px 0 50px;
        gap: 5px;
    }
    .last-footer p {
        font-size: 11px;
        text-align: center;
    }
    .last-footer div{
        width: 100px;
        margin: 0 auto;
    }
}